In [1]:
import pandas as pd

In [2]:
user_info = pd.read_json("user_info.json")

In [3]:
user_info.head()

,_id,about,address,age,balance,company,email,eyeColor,favoriteFruit,friends,...,guid,index,isActive,latitude,longitude,name,phone,picture,registered,tags
0,5c0a28d7a647437fd3d3a6aa,Nostrud consectetur elit occaecat dolore incid...,"698 Kansas Place, Bethpage, Louisiana, 7695",20,"$3,806.93",RODEMCO,graceberry@rodemco.com,green,strawberry,"[{u'id': 0, u'name': u'Small Pena'}, {u'id': 1...",...,832f1af4-fb18-4ba8-b032-f4cbf343dbe9,0,False,-65.630631,131.991768,Grace Berry,+1 (814) 555-3298,http://placehold.it/32x32,2015-12-09T08:21:48 -06:-30,"[eu, id, fugiat, deserunt, nulla, proident, la..."
1,5c0a28d780f6278b11586ab1,Sunt id ipsum velit voluptate. Ullamco non non...,"309 Kingsway Place, Kilbourne, New York, 3771",22,"$3,330.01",VIAGRAND,hilarysellers@viagrand.com,brown,apple,"[{u'id': 0, u'name': u'Spears Smith'}, {u'id':...",...,4306cb37-9506-48c2-8ccf-e69a063589ee,1,True,38.790260,48.442002,Hilary Sellers,+1 (942) 536-3059,http://placehold.it/32x32,2014-12-15T11:42:39 -06:-30,"[deserunt, do, adipisicing, in, aliqua, duis, ..."
2,5c0a28d722e2e29d9bce2b64,Laborum ad excepteur amet sunt aliqua veniam c...,"347 Seeley Street, Witmer, Kansas, 9369",40,"$1,619.46",EQUITOX,sherrigilbert@equitox.com,green,apple,"[{u'id': 0, u'name': u'Sexton Watts'}, {u'id':...",...,5019e436-7cc4-48ee-a384-3483131f8ee1,2,True,34.404508,-116.452211,Sherri Gilbert,+1 (954) 591-2183,http://placehold.it/32x32,2014-10-31T05:02:03 -06:-30,"[adipisicing, cillum, deserunt, aute, ipsum, c..."
3,5c0a28d76b5e8859a754cb4f,Eu amet aliqua magna ipsum quis et ut reprehen...,"178 Stewart Street, Ferney, Wyoming, 9118",29,"$3,334.12",ANARCO,caldwellpatterson@anarco.com,blue,strawberry,"[{u'id': 0, u'name': u'Anne Holcomb'}, {u'id':...",...,d2c4b1eb-2974-463a-b288-d1dae5dec187,3,False,-63.424959,-51.151783,Caldwell Patterson,+1 (815) 400-3780,http://placehold.it/32x32,2018-04-02T03:06:31 -06:-30,"[adipisicing, veniam, dolor, duis, aute, tempo..."
4,5c0a28d7ebb99c08e2288c76,Sunt amet exercitation aliqua cillum commodo o...,"189 Rogers Avenue, Lindisfarne, Mississippi, 1961",33,"$1,368.48",MEGALL,headmcconnell@megall.com,brown,strawberry,"[{u'id': 0, u'name': u'Elnora Peck'}, {u'id': ...",...,df0b59ed-2e81-43f1-9ae0-16f138e738be,4,False,-80.136744,176.780600,Head Mcconnell,+1 (820) 573-3154,http://placehold.it/32x32,2016-01-06T09:38:15 -06:-30,"[qui, aute, voluptate, eiusmod, est, est, cupi..."

In [4]:
user_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 22 columns):
_id              6 non-null object
about            6 non-null object
address          6 non-null object
age              6 non-null int64
balance          6 non-null object
company          6 non-null object
email            6 non-null object
eyeColor         6 non-null object
favoriteFruit    6 non-null object
friends          6 non-null object
gender           6 non-null object
greeting         6 non-null object
guid             6 non-null object
index            6 non-null int64
isActive         6 non-null bool
latitude         6 non-null float64
longitude        6 non-null float64
name             6 non-null object
phone            6 non-null object
picture          6 non-null object
registered       6 non-null object
tags             6 non-null object
dtypes: bool(1), float64(2), int64(2), object(17)
memory usage: 1.1+ KB

In [5]:
user_info.shape

(6, 22)